@import url(fields/index.css);

.main-container{
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: var(--shape-body);  
    max-width: 52rem;
    margin-inline: auto;

    h1{
        font: var(--heading-md);
        color: var(--text-heading);
        margin-bottom: 2.5rem;
    }
}

fieldset{
    border: none;
    display: grid;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}