.app{
    display: grid;
    grid-template-columns: 400px 1fr;;
    justify-content: center;
    height: 100vh;
    background-color: var(--shape-body);
}

aside {
    display: flex;
    align-items: center;    
    justify-content: center; 
    padding: 1rem 1rem;     
    background-color: var(--shape-background); 
    height: 100vh;
    box-sizing: border-box;
}

.aside-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;           
    padding: 2.5rem 2rem;   
    background-color: var(--shape-body); 
    border-radius: 12px;    
    
    
    background-image: url(../assets/Background.png);
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom center; 
    box-sizing: border-box;

    header {
        img {
            margin-bottom: 1rem;
            width: 32px;
        }

        h1 {
            font: var(--logo);
            color: var(--pink);
            margin-bottom: 4px;
        }

        p {
            font: var(--body-md-light);
            color: var(--text-heading);
        }
    }
}


main {
    height: 100vh;
    overflow-y: auto;  
}

input,textarea,select{
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid transparent ;
    outline: 1px solid var(--input-stroke);
    padding: 0.75rem 1rem;
    color: var(--input-stroke);
    background-color: var(--input-base);
    font: var(--body-md-regular);
}