@import "tailwindcss";

@import url('https://googleapis.com');

@theme {
  --font-logo: 'Leckerli One', sans-serif;
  --font-heading:'Baloo 2',sans-serif;
  --font-body:'Open Sans',sans-serif;



  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  /* Accent Colors */
  --color-purple: #B259FF;
  --color-fuschia: #FF59F9;
  --color-pink: #FF598B;
  --color-orange: #FF8B59;
  --color-yellow: #FFCD59;
  --color-lime: #E1FF59;
  --color-green: #59FF91;
  --color-cyan: #59FFF9;
  --color-navy: #6A59FF;

  /* Feedback */
  --color-danger: #FF5959;

  /* Input */
  --color-input-base: #1C1F21;
  --color-input-stroke: #363B40;
  --color-input-placeholder: #869198;

  /* Shape */
  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2D3136;
  --color-shape-hover: #383D42;

  /* Text */
  --color-text-body: #C8CDD0;
  --color-text-heading: #F9F9F9;
}

:root{
    --font-logo:'Leckerli One', sans-serif;

    --logo: 400 2.5rem/1.4 var(--font-logo);

    --font-heading:'Baloo 2',sans-serif;

    --heading-md: 800 1.75rem/1.4 var(--font-heading);
    --heading-sm: 800 1.125rem/1.4 var(--font-heading);

    --font-body:'Open Sans',sans-serif;

    --body-md-light: 300 1rem/1.4 var(--font-body);

    --body-md-regular: 400 1rem/1.4 var(--font-body);
    --body-sm-regular: 400 0.875rem/1.4 var(--font-body);
    --body-xs-regular: 400 0.75rem/1.4 var(--font-body);

    --body-md-bold: 600 1rem/1.4 var(--font-body);
    --body-sm-bold: 600 0.875rem/1.4 var(--font-body);
    --body-xs-bold: 800 0.75rem/1.4 var(--font-body);

    /* Brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Accent Colors */
    --purple:#B259FF;
    --fuschia:#FF59F9;
    --pink:#FF598B;
    --orange:#FF8B59;
    --yellow: #FFCD59;
    --lime:#E1FF59;
    --green:#59FF91;
    --cyan:#59FFF9;
    --navy:#6A59FF;

    /* Feedback */
    --danger:#FF5959;

    /* Input */
    --input-base:#1C1F21;
    --input-stroke:#363B40;
    --input-placeholder:#869198;

    /* Shape */
    --shape-background:#131516;
    --shape-body:#212427;
    --shape-button:#2D3136;
    --shape-hover:#383D42;

    /* Text */
    --text-body:#C8CDD0;
    --text-heading:#F9F9F9;

}