@import "tailwindcss";


@theme {
  --font-logo: 'Leckerli One', sans-serif;
  --font-heading:'Baloo 2',sans-serif;
  --font-body:'Open Sans',sans-serif;



  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  /* Accent Colors */
  --color-purple: #B259FF;
  --color-fuschia: #FF59F9;
  --color-pink: #FF598B;
  --color-orange: #FF8B59;
  --color-yellow: #FFCD59;
  --color-lime: #E1FF59;
  --color-green: #59FF91;
  --color-cyan: #59FFF9;
  --color-navy: #6A59FF;

  /* Feedback */
  --color-danger: #FF5959;

  /* Input */
  --color-input-base: #1C1F21;
  --color-input-stroke: #363B40;
  --color-input-placeholder: #869198;

  /* Shape */
  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2D3136;
  --color-shape-hover: #383D42;

  /* Text */
  --color-text-body: #C8CDD0;
  --color-text-heading: #F9F9F9;
}